---
http_interactions:
- request:
    method: get
    uri: https://www.pornhub.com/webmasters/video_by_id?id=ph5fbf2d80025f9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mg-S:
      - '0'
      Rating:
      - RTA-5042-1996-1400-1577-RTA
    body:
      encoding: UTF-8
      string: '{"video":{"duration":"18:38","views":1410081,"video_id":"ph5fbf2d80025f9","rating":"85.529","ratings":7940,"title":"Big
        Ass Latina gets a Rough Anal Fuck after teasing boyfriend all day","url":"https:\/\/www.pornhub.com\/view_video.php?viewkey=ph5fbf2d80025f9","default_thumb":"https:\/\/ei.phncdn.com\/videos\/202011\/26\/373899402\/thumbs_5\/(m=eaf8Ggaaaa)(mh=XkMYL-AVldL-v6_C)12.jpg","thumb":"https:\/\/ei.phncdn.com\/videos\/202011\/26\/373899402\/thumbs_5\/(m=eaf8Ggaaaa)(mh=XkMYL-AVldL-v6_C)15.jpg","publish_date":"2020-12-24
        04:00:31","thumbs":[{"size":"320x240","width":"320","height":"240","src":"https:\/\/ei.phncdn.com\/videos\/202011\/26\/373899402\/thumbs_5\/(m=eaf8Ggaaaa)(mh=XkMYL-AVldL-v6_C)1.jpg"},{"size":"320x240","width":"320","height":"240","src":"https:\/\/ei.phncdn.com\/videos\/202011\/26\/373899402\/thumbs_5\/(m=eaf8Ggaaaa)(mh=XkMYL-AVldL-v6_C)2.jpg"},{"size":"320x240","width":"320","height":"240","src":"https:\/\/ei.phncdn.com\/videos\/202011\/26\/373899402\/thumbs_5\/(m=eaf8Ggaaaa)(mh=XkMYL-AVldL-v6_C)3.jpg"},{"size":"320x240","width":"320","height":"240","src":"https:\/\/[...]
