---
http_interactions:
- request:
    method: get
    uri: https://www.pornhub.com/webmasters/search?page=1&search=asian&thumbsize=small
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mg-S:
      - '0'
      Rating:
      - RTA-5042-1996-1400-1577-RTA
    body:
      encoding: UTF-8
      string: '{"videos":[{"duration":"12:44","views":1008185,"video_id":"ph5f8ec917da415","rating":"82.7682","ratings":3244,"title":"Cute
        Asian Teen Gets Fucked By A Lucky Guy","url":"https:\/\/www.pornhub.com\/view_video.php?viewkey=ph5f8ec917da415","default_thumb":"https:\/\/di.phncdn.com\/videos\/202010\/20\/362384762\/original\/(m=e0YHGgaaaa)(mh=g-g6AGyokBo7DXFk)12.jpg","thumb":"https:\/\/di.phncdn.com\/videos\/202010\/20\/362384762\/original\/(m=qP4JM5Vbe0YHGgaaaa)(mh=4QOPaLRPJcEnK2Ec)0.jpg","publish_date":"2020-10-22
        18:50:12","thumbs":[{"size":"180x135","width":"180","height":"135","src":"https:\/\/di.phncdn.com\/videos\/202010\/20\/362384762\/original\/(m=e0YHGgaaaa)(mh=g-g6AGyokBo7DXFk)1.jpg"},{"size":"180x135","width":"180","height":"135","src":"https:\/\/di.phncdn.com\/videos\/202010\/20\/362384762\/original\/(m=e0YHGgaaaa)(mh=g-g6AGyokBo7DXFk)2.jpg"},{"size":"180x135","width":"180","height":"135","src":"https:\/\/di.phncdn.com\/videos\/202010\/20\/362384762\/original\/(m=e0YHGgaaaa)(mh=g-g6AGyokBo7DXFk)3.jpg"},{"size":"180x135","width":"180","height":"135","src":"https:\/\/[...]
